---
import BlogPost from '@components/BlogPost'
import BaseLayout from '@layouts/BaseLayout.astro'
import { sortByDate } from '@utils/sortByDate'

const allBlogs = await Astro.glob('./catatan/*.md')
const pageTitle = 'Catatan'
---

<BaseLayout pageTitle={pageTitle}>
  <div class='max-w-3xl mt-10'>
    <div class='gap-4 space-y-4 p-2 columns-1 lg:columns-3 md:columns-2'>
      {
        allBlogs
          .sort(sortByDate)
          .map((post) => <BlogPost client:load url={post.url} data={post.frontmatter} />)
      }
    </div>
  </div>
</BaseLayout>
