---
import ListPencapaian from '@components/ListPencapaian'
import BaseLayout from '@layouts/BaseLayout.astro'

const pageTitle = 'Pencapaian'

let listPencapaian = [
  {
    img: '/pencapaian/identik-asik.jpg',
    title: 'Juara 2 Kompetisi Seleksi Nasional Produk TIK (IdenTIK) tahun 2022',
    desc: '',
  },
  {
    img: '/pencapaian/identik-satusehat.jpg',
    title: 'Juara 1 Kompetisi Seleksi Nasional Produk TIK (IdenTIK) tahun 2022',
    desc: '',
  },
  {
    img: '/pencapaian/cert3.webp',
    title: 'Sertifikat Kementerian Kesehatan (Peduli Lindungi)',
    desc: '',
  },
  {
    img: '/pencapaian/show-dashboard-generator-asik.webp',
    title: 'Presentasi Dashboard Generator ASIK oleh Kementerian Kesehatan',
    desc: '',
  },
  {
    img: '/pencapaian/cert2.webp',
    title: 'Sertifikat Udemy (Understanding Typescript)',
    desc: '',
  },
  {
    img: '/pencapaian/cert4.webp',
    title: 'Sertifikat Udemy (Beginner Photoshop to HTML5)',
    desc: '',
  },
  {
    img: '/pencapaian/cert5.webp',
    title: 'Sertifikat Udemy (Javascript Essentials)',
    desc: '',
  },
  {
    img: '/pencapaian/cert6.webp',
    title: 'Sertifikat Udemy (Fullstack Javascript)',
    desc: '',
  },
]
---

<BaseLayout pageTitle={pageTitle}>
  <div class="max-w-3xl mt-10 mb-4">
    <div class="gap-4 space-y-4 p-2 columns-1 sm:columns-2 lg:columns-3">
      {
        listPencapaian.map((item: any, idx: number) => (
          <ListPencapaian data={item} index={idx} client:only />
        ))
      }
    </div>
  </div>
</BaseLayout>
