---
import ListProject from '@components/ListProject'
import BaseLayout from '@layouts/BaseLayout.astro'
// import asik from '/images/proyek/asik.webp'
// import blibli from '/images/proyek/blibli.webp'
// import carigawe2 from '/images/proyek/carigawe.webp'
// import catatankajian from '/images/proyek/catatankajian.webp'
// import catatanuang from '/images/proyek/catatanuang.webp'
// import myehac from '/images/proyek/myehac.webp'
// import gwc2 from '/images/proyek/gwc.webp'
// import homi2 from '/images/proyek/homi.webp'
// import sveltekitmovie from '/images/proyek/sveltekitmovie.webp'
// import vue3movie from '/images/proyek/vue3movie.webp'
// import webinternalasik from '/images/proyek/internalasik.webp'
// import kelolauang from '/images/proyek/kelolauang.webp'

const pageTitle = 'Proyek'

const projects = [
  {
    label: 'Kelola Uang',
    vertical: true,
    class: 'img-vertical',
    img: '/proyek/kelolauang.webp',
    stack: ['Ionic', 'Capacitor', 'Vue 3', 'Typescript', 'Tailwind', 'Sqlite'],
    project: 'Proyek Pribadi',
    url: null,
  },
  {
    label: 'ASIK Enkrip Dekrip',
    vertical: false,
    class: 'img-horizontal-blibli',
    img: '/proyek/internalasik.webp',
    stack: ['SvelteKit', 'Typescript', 'Skeleton UI', 'Tailwind'],
    project: 'Web Internal Tim ASIK',
    url: null,
  },
  {
    label: 'Movie Kit',
    vertical: false,
    class: 'img-horizontal-blibli',
    img: '/proyek/sveltekitmovie.webp',
    stack: ['SvelteKit', 'Typescript', 'UnoCss'],
    project: 'Proyek Pribadi',
    url: 'https://movie-kit.vercel.app',
  },
  {
    label: 'Dashboard Aplikasi Sehat Indinesiaku',
    vertical: false,
    class: 'img-horizontal-asik',
    img: '/proyek/asik.webp',
    stack: ['Nuxt 3', 'Pinia', 'Typescript', 'UnoCss'],
    project: 'Kementerian Kesehatan',
    url: null,
  },
  {
    label: 'eHAC Peduli Lindungi',
    vertical: true,
    class: 'img-vertical',
    img: '/proyek/myehac.webp',
    stack: ['Nuxt 2', 'Vuetify'],
    project: 'Kementerian Kesehatan',
    url: null,
  },
  {
    label: 'Vue3 Movie',
    vertical: true,
    class: 'img-vertical',
    img: '/proyek/vue3movie.webp',
    stack: ['VueJS 3', 'Tailwind'],
    project: 'Proyek Pribadi',
    url: 'https://vue3-movie.vercel.app',
  },
  {
    label: 'Catatan Kajian',
    vertical: true,
    class: 'img-vertical',
    img: '/proyek/catatankajian.webp',
    stack: ['SvelteKit', 'Tailwind'],
    project: 'Proyek Pribadi',
    url: 'https://catatan-kajian.vercel.app',
  },
  {
    label: 'BliBli Clone',
    vertical: false,
    class: 'img-horizontal-blibli',
    img: '/proyek/blibli.webp',
    stack: ['SvelteKit', 'Tailwind'],
    project: 'Proyek Pribadi',
    url: 'https://learn-svelte-sveltekit.vercel.app/project/blibli-clone',
  },
  {
    label: 'Global Wakaf Corporation',
    vertical: true,
    class: 'img-horizontal',
    img: '/proyek/gwc.webp',
    stack: ['Nuxt 2', 'Typescript', 'Vuetify', 'Google Maps'],
    project: 'Goiot',
    url: null,
  },
  {
    label: 'Cari Gawe',
    vertical: false,
    class: 'img-horizontal-carigawe',
    img: '/proyek/carigawe.webp',
    stack: ['ReactJS', 'Typescript', 'Sequelize', 'SocketIO', 'ExpressJS', 'MaterialUI'],
    project: 'Proyek Pribadi',
    url: null,
  },
  {
    label: 'Catatan Uangku',
    vertical: true,
    class: 'img-vertical',
    img: '/proyek/catatanuang.webp',
    stack: ['React Native', 'Typescript', 'Realm'],
    project: 'Proyek Pribadi',
    url: null,
  },
  {
    label: 'Homi Smarthome',
    vertical: false,
    class: 'img-horizontal-homi',
    img: '/proyek/homi.webp',
    stack: ['React Native ', 'Typescript', 'MQTT'],
    project: 'Goiot',
    url: null,
  },
]
---

<BaseLayout pageTitle={pageTitle}>
  <div class='max-w-3xl mt-10 mb-4'>
    <div class='gap-4 space-y-4 p-2 columns-1 sm:columns-2 lg:columns-3'>
      {
        projects.map((item: any, idx: number) => (
          <ListProject data={item} index={idx} client:only />
        ))
      }
    </div>
  </div>
</BaseLayout>
