---
import user from '@icons/user.svg'
import book from '@icons/book.svg'
import project from '@icons/project.svg'
import achievment from '@icons/achievment.svg'
import phone from '@icons/phone.svg'
import menu from '@icons/menu.svg'
import { Image } from 'astro:assets'

const listMenu = [
  { label: 'Profil', path: '/', icon: user },
  { label: 'Catatan', path: '/', icon: book },
  { label: 'Proyek', path: '/', icon: project },
  { label: 'Pencapaian', path: '/', icon: achievment },
  { label: 'Kontak', path: '/', icon: phone },
]
---

<div class='fixed top-0 w-full gap-4 bg-black/[0.5] backdrop-blur-sm'>
  <div class='hidden md:flex md:justify-center md:items-center'>
    {
      listMenu.map((item) => (
        <a class='flex items-center gap-1 p-4 hover:bg-[#1c1c1c]' href={item.path}>
          <Image
            src={item.icon}
            alt='icon'
            width={25}
            height={25}
            loading={'eager'}
            fetchpriority={'high'}
          />
          {item.label}
        </a>
      ))
    }
  </div>
  <div class='p-2 md:hidden'>
    <button>
      <Image src={menu} alt='icon' width={30} height={30} />
    </button>
  </div>
</div>
