---
import { Image } from 'astro:assets'
import banner from '@images/banner.webp'
import Navigation from '@components/Navigation'
import '@fontsource/homemade-apple'
import '@fontsource-variable/rubik'
import '@css/global.css'

const { pageTitle } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle}</title>
    <style></style>
  </head>
  <body>
    <div class='relative w-full h-[300px] bg-black'>
      <Navigation client:load>
        <Image
          src={banner}
          alt='banner'
          class='w-full h-full object-cover object-center'
          loading={'eager'}
          fetchpriority={'high'}
        />
      </Navigation>
    </div>

    <div class='flex justify-center'>
      <slot />
    </div>
  </body>
</html>
