---
import Navbar from '@components/Navbar'
import '@fontsource/homemade-apple'
import '@fontsource-variable/rubik'
import '@css/global.css'
import i18next, { t } from 'i18next'

const { pageTitle } = Astro.props
---

<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={t('meta.description')} />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <!-- <script src='/src/pwa.ts'></script> -->
    <!-- {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />} -->
    <style></style>
  </head>
  <body>
    <Navbar client:load />
    <slot />
  </body>
</html>
